<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="jQCloud/dist/jqcloud.min.js"></script>

<link rel="stylesheet" href="jQCloud/dist/jqcloud.min.css">
<link rel="stylesheet" href="/static/style.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
.w3-sidenav a,.w3-sidenav h4 {font-weight:bold}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidenav/menu -->
<nav class="w3-sidenav w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidenav"><br>

  <form id="options">
  <div class="form-group">
    <label for="email">Starting date: </label>
    <input type="text" class="form-control" id="startdate">
  </div>
  <div class="form-group">
    <label for="pwd">Ending date: </label>
    <input type="text" class="form-control" id="enddate">
  </div>
   <div class="form-group">
    <label for="pwd">Query term: </label>
    <input type="text" class="form-control" id="q">
  </div>
  <button type="button" id="submit" class="btn btn-default">Submit</button>
</form>

</nav>
<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">
    <div id="display">
    </div>
</div>

<!-- Sliding panel -->
<main class="cd-main-content">
    <!-- your main content here -->
</main>
 
<div class="cd-panel from-right">
    <header class="cd-panel-header">
        <h1>Title Goes Here</h1>
        <a href="#0" class="cd-panel-close">Close</a>
    </header>
 
    <div class="cd-panel-container">
        <div class="cd-panel-content">
            <!-- your side content here -->
        </div> <!-- cd-panel-content -->
    </div> <!-- cd-panel-container -->
</div> <!-- cd-panel -->
  


<script>

$( document ).ready(function() {
  $( "#submit" ).click(function() {
      var url = "/search/" + 'begin_date=' + $("#startdate").val() + '&end_date=' + $("#enddate").val() + '&q=' + $("#q").val();
      console.log(url);
      window.location.replace(url);
});
});


</script>

</body>
</html>



